extends base1.pug

block content 
    <div class="container">
      <h4 class="text-white mt-2">Online Job Application Form</h4>
      <div style="width:25%;text-align:left;margin-left:0;border: 1px solid #ffc107;">
      </div>
    </div>

    <div class="container sec1 mt-5">
      <h2 class="text-warning text-center">Personal Info</h2>
      <div style="width:100%;text-align:left;margin-left:0;border: 1px solid white;background-color: white;" class="mb-5 mt-3">
      </div>
      <form class="" action="update" method = "post" >
        <input type="text" hidden value="#{_id}" name="aid">
        <div class="form-group d-flex align-items-center justify-content-lg-start mt-2">
          <label for="inputAddress" class="text-white w-25" >Name</label>
          <input type="text" class="form-control w-50 " id="inputName" placeholder="Enter your name" value='#{name}' name="appname">
        </div>
        <div class="form-group d-flex align-items-center my-4">
          <label for="inputAddress" class="text-white w-25">Address</label>
          <textarea class="form-control w-50 " id="exampleFormControlTextarea1" rows="2" placeholder="Write Address here..." name="appaddress">#{address}</textarea>
        </div>

        <div class="form-group  d-flex align-items-center justify-content-lg-start">
            <label for="inputEmail4" class="text-white w-25 ">Email</label>
            <input type="email" class="form-control w-25" id="inputEmail4" placeholder="Enter email e.g., abc@xyz.pqr" value='#{email}' name="appemail">
        </div>
        <div class="form-group d-flex align-items-center justify-content-lg-start">
            <label for="inputPassword4" class="text-white w-25">Phone No.</label>
            <input type="phone" class="form-control w-25" id="inputPassword4" placeholder="Enter your phone no e.g., 1234567890" value='#{phoneno}' name="appphone">
        </div>

        <div class="form-group  d-flex align-items-center justify-content-lg-start">
            <label for="inputEmail4" class="text-white w-25  ">DOB</label>
            <input type="date" class="form-control w-25 " id="inputEmail5" value='#{dob}' name="appdob">
        </div>
        <div class="form-group d-flex align-items-center justify-content-lg-start ">
            <label for="inputPassword4" class="text-white w-25">Gender </label>
            if gender==0
              <div class="form-check form-check-inline ">

                <input class="form-check-input" type="radio" name="appgender" id="inlineRadio1" value="0"checked>
                <label class="form-check-label text-white" for="inlineRadio1">Male</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input border-warning " type="radio" name="appgender" id="inlineRadio2"value="1">
                <label class="form-check-label text-white" for="inlineRadio2">Female</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input border-warning " type="radio" name="appgender" id="inlineRadio3"value="2">
                <label class="form-check-label text-white" for="inlineRadio3">Others</label>
              </div>

            else if gender==1
              <div class="form-check form-check-inline ">

                <input class="form-check-input" type="radio" name="appgender" id="inlineRadio1" value="0">
                <label class="form-check-label text-white" for="inlineRadio1">Male</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input border-warning " type="radio" name="appgender" id="inlineRadio2"value="1" checked>
                <label class="form-check-label text-white" for="inlineRadio2">Female</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input border-warning " type="radio" name="appgender" id="inlineRadio3"value="2">
                <label class="form-check-label text-white" for="inlineRadio3">Others</label>
              </div>

            else if gender==2
              <div class="form-check form-check-inline ">

                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="appgender" value="0">
                <label class="form-check-label text-white" for="inlineRadio1">Male</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input border-warning " type="radio" name="appgender" id="inlineRadio2"value="1" >
                <label class="form-check-label text-white" for="inlineRadio2">Female</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input border-warning " type="radio" name="appgender" id="inlineRadio3"value="2" checked>
                <label class="form-check-label text-white" for="inlineRadio3">Others</label>
              </div>
        </div>
        <div class="form-group mb-3 d-flex align-items-center">
          <label for="validationDefault03" class="text-white w-25">Nationality</label>
          <input type="text" class="form-control w-25 " id="validationDefault03" required placeholder="Enter your city" value='#{nationality}' name="appnationality">
        </div>

    

      <h2 class="text-warning text-center mt-5">Educational Info</h2>
      <div style="width:100%;text-align:left;margin-left:0;border: 1px solid white;background-color: white;" class="mb-5 mt-3">
      </div>
      <div class="form-group d-flex align-items-center justify-content-lg-start mt-2">
        <label for="inputAddress" class="text-white w-25">Qualifications</label>
        <div class="wrapper w-50 p-2">
          <div class="tag-container w-100 h-100 form-control">
            <div class="input-container d-flex align-items-center justify-content-center">
              <input type="text" name="" id="" class="input-box h-50">
              <button type="button" class="btn btn-warning h-25 add-tag">Add Tag</button>
            </div>
            <select multiple  name="appqualifications" class="form-control w-100 h-100 option-tag1">
              each val in qualifications 
                <option value="#{val}" selected> #{val}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group d-flex align-items-center justify-content-lg-start my-4">
        <label for="inputAddress" class="text-white w-25">Job Experience</label>
        <input type="number" class="form-control w-25 " id="validationDefault03" required placeholder="Enter your job experience in years" name="appjob" value='#{jobexperience}'>
      </div>
      <div class="form-group d-flex align-items-center justify-content-lg-start mt-2">
        <label for="inputAddress" class="text-white w-25">Skills</label>
        <div class="wrapper w-50 p-2">
            <div class="tag-container w-100 h-100 form-control">
              <div class="input-container d-flex align-items-center justify-content-center">
                <input type="text" name="" id="" class="input-box h-50">
                <button type="button" class="btn btn-warning h-25 add-tag">Add Tag</button>
              </div>
              <select multiple  name="appskills" class="form-control w-100 h-100 option-tag2">
                each val in skills 
                  <option value="#{val}" selected> #{val} </option>
              </select>
            </div>
        </div>
      </div>


      <h2 class="text-warning text-center mt-5">Bio Description</h2>
      <div style="width:100%;text-align:left;margin-left:0;border: 1px solid white;background-color: white;" class="mb-5 mt-3">
      </div>
      <div class="form-group d-flex align-items-center justify-content-lg-start my-4">
        <label for="inputAddress" class="text-white w-25">Bio-Data</label>
        <textarea class="form-control w-50 " id="exampleFormControlTextarea1" rows="4" placeholder="Write your bio-data" name="appbio" >#{biodata}</textarea>
      </div>
      <div class="form-group d-flex align-items-center justify-content-lg-start mt-2">
        <label for="inputAddress" class="text-white w-25">Github Link</label>
        <input type="text" class="form-control w-50 " id="inputName" placeholder="Provide your github link" name="appgithub" value='#{githuburl}'>
      </div>
      
      
      <h2 class="text-warning text-center mt-5">Upload Document</h2>
      <div style="width:100%;text-align:left;margin-left:0;border: 1px solid white;background-color: white;" class="mb-5 mt-3">
      </div>
      //- <div class="form-group d-flex align-items-center justify-content-lg-start my-4">
      //-   <label for="inputAddress" class="text-white w-25">Upload Photo</label>
      //-   <input type="file" class="form-control w-25 mr-4" id="inputName" placeholder="Enter your name" name="image_upload" value='#{uploadphoto}'>
      //-   <img src="../public/uploads/applicant/photo/#{uploadphoto}"  alt="#{uploadphoto}" width="200px">
        
      //- </div>
      //- <div class="form-group d-flex align-items-center justify-content-lg-start mt-2">
      //-   <label for="inputAddress" class="text-white w-25">Resume </label>
      //-   <input type="file" class="form-control w-25 mr-4" id="inputName" placeholder="Enter your name" name="resume_upload" >
      //-   <a href ="../public/uploads/applicant/resume/#{uploadresume}" attributes-list download  class="btn btn-warning w-25 "> Download</a>  

      //- </div>
      <div class="form-group form-check mt-5">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label text-warning" for="exampleCheck1">I hereby declare that all information that I've given above is correct</label>
      </div>

      <div class="row mt-5 mb-5">
        <button type="submit" class="btn btn-outline-light w-25 m-auto">Update</button>
        <button type="reset" class="btn btn-outline-light w-25 m-auto">Reset</button>
      </div>
      </form>
    </div>
    </div>
  
  
    