extends base2.pug
block specialStyle
  style 
    include ../public/specialstyle.css
block navbar 
  <div class="form-group w-50 my-4 p-2 m-auto bg-common2 rounded">
    h2.text-black.text-center #{record.name}
  </div>
block content
    <div class="container mt-4">
      <h4 class="text-white text-center mt-2">Online Job Application Form</h4>
      <input id="roleapp" value="#{role}" hidden>


      <div style="width:25%;text-align:left;margin : auto;border: 1px solid #F3FE39;">
      </div>
    </div>
    <div class="container border border-white my-4 w-75 bg-white rounded-3">
      <h2 class="text-common mt-4 text-center">Personal Info</h2>
      <div  class="line">
      </div>
      <form class="p-4" action="/selection" method="post">

        //- img(src="../public/images/jenil.png" class="" alt=record.uploadphoto width="200px")
        <input value="#{record._id}" hidden name="appid">
        <input value="#{compid}" hidden name="compid">

        <div class="form-group d-flex align-items-center justify-content-lg-start mt-5">
          <label for="inputAddress" class="text-black h5 w-25" >Name</label>
          <label class="text-black w-25 bg-light p-2 border-common rounded"> #{record.name} </label>
        </div>
        <div class="form-group d-flex align-items-center my-4">
          <label for="inputAddress" class="text-black h5 w-25">Address</label>
          <label class="text-black w-50 bg-light p-2 border-common rounded">#{record.address} </label>
        </div>

        <div class="form-group  d-flex align-items-center justify-content-lg-start">
            <label for="inputEmail4" class="text-black h5 w-25 ">Email</label>
            <label class="text-black w-25 bg-light p-2 border-common rounded">#{record.email}</label>
        </div>
        <div class="form-group d-flex align-items-center justify-content-lg-start">
            <label for="inputPassword4" class="text-black h5 w-25">Phone No.</label>
            <label class="text-black w-25 bg-light p-2 border-common rounded">#{record.phoneno}</label>
        </div>

        <div class="form-group  d-flex align-items-center justify-content-lg-start">
            <label for="inputEmail4" class="text-black h5 w-25  ">DOB</label>
            <label class="text-black w-25 bg-light p-2 border-common rounded">#{date}</label>
        </div>

        if record.gender == 0
            <div class="form-group d-flex align-items-center justify-content-lg-start ">
              <label for="inputPassword4" class="text-black h5 w-25">Gender </label>
              <label class="text-black w-25 bg-light p-2 border-common rounded">Male</label>
            </div>
            
        else if record.gender == 1
            <div class="form-group d-flex align-items-center justify-content-lg-start ">
              <label for="inputPassword4" class="text-black h5 w-25">Gender </label>
              <label class="text-black w-25 bg-light p-2 border-common rounded">Female</label>
            </div>
        else if record.gender == 2
            <div class="form-group d-flex align-items-center justify-content-lg-start ">
              <label for="inputPassword4" class="text-black h5 w-25">Gender </label>
              <label class="text-black w-25 bg-light p-2 border-common rounded">Others</label>
            </div>
          
        <div class="form-group mb-3 d-flex align-items-center">
            <label for="validationDefault03" class="text-black h5 w-25">Nationality</label>
            <label class="text-black w-25 bg-light p-2 border-common rounded">#{record.nationality}</label>
        </div>

    

      <h2 class="text-common text-center mt-5">Educational Info</h2>
      <div class="line mb-5 mt-3">
      </div>
      <div class="form-group d-flex align-items-center justify-content-lg-start mt-2">
        <label for="inputAddress" class="text-black h5 w-25">Qualifications</label>
        div.w-75
          each quali in record.qualifications 
            <label class="text-black w-25 h6 bg-light mr-2 p-2 border-common rounded">#{quali}</label>
            //- <span class="badge badge-pill badge-light mr-2 mt-2 text-black w-25 bg-light p-3 border-common rounded h5">#{quali}</span>
          
      </div>
      <div class="form-group d-flex align-items-center justify-content-lg-start my-4">
        <label for="inputAddress" class="text-black h5 w-25">Job Experience</label>
        <label class="text-black w-15 h6 bg-light mr-2 p-2 border-common rounded">#{record.jobexperience}</label>

      </div>
      <div class="form-group d-flex align-items-center justify-content-lg-start mt-2">
        <label for="inputAddress" class="text-black h5 w-25">Skills </label>        
        div.w-75
          each skill in record.skills 
            <label class="text-black  bg-light mr-2 p-2 border-common rounded">#{skill}</label>
          //- <span class="badge  mr-2 mt-2 text-black w-25 p-3 border-common rounded">#{skill}</span>


      </div>


      <h2 class="text-common text-center mt-5">Bio Description</h2>
      <div  class="line mb-5 mt-3">
      </div>
      <div class="form-group d-flex align-items-center justify-content-lg-start my-4">
        <label for="inputAddress" class="text-black h5 w-25">Bio-Data</label>
        <label class="text-black w-50 bg-light p-2 border-common rounded">#{record.biodata}</label>
        
      </div>
      <div class="form-group d-flex align-items-center justify-content-lg-start mt-2">
        <label for="inputAddress" class="text-black h5 w-25">Github Link</label>
        <label class="text-black w-25 bg-light p-2 border-common rounded"><a href="https://#{record.githuburl}" class="text-decoration-none" target = "_blank">Github</a></label> 
      </div>
    
      <div class="form-group d-flex align-items-center justify-content-lg-start mt-2">
        <label for="inputAddress" class="text-black h5 w-25">Resume</label>
        <label for="inputAddress" class="text-black mr-4 h5 ">#{record.uploadresume}</label>
        <a href ="../../src/public/uploads/applicant/resume/#{record.uploadresume}" attributes-list download  class="btn btn-common w-25 ">Download</a>  
      </div>
      
      <div id="btngrp" class="row mt-5 mb-5">
        <button type="submit" class="btn select1 btn-outline-dark w-25 m-auto">Select</button>
        <button type="reset" class="btn select2 btn-outline-dark w-25 m-auto">Reject</button>
      </div>
      </form>

    </div>
    </div>
    </div>
    </div>



