extends base2.pug
block specialStyle
  style 
    include ../public/specialstyle.css
block content
    //- <center> 
    <div class="container">
      <h4 class="text-white mt-2">Company Recruitment Form Edit</h4>
      <div style="width:30%;text-align:left;margin-left:0;border: 1px solid #F3FE39;">
      </div>
    </div>
    each company in companyData
        <div class="container mt-5 text-black">
            <div class="card mb-3 border-black " style="min-width: 740px; max-height: 300px">
                <div class="row w-100 h-100" >
                    <div class="col-md-8 ">
                        <div class="card-body">
                            <h5 class="card-title">#{company.companyname}</h5>
                            <h6 class="">Departments : 
                            each department in company.departments 
                                <span class="badge bg-common mx-2">#{department}</span>
                            </h6>    

                            <h6 class="">Post Available :  
                                <span class="badge bg-common mx-2">#{company.post}</span>
                            </h6>    
                            
                            <h6 class="">Vacancy :  
                                <span class="badge bg-common mx-2">#{company.vacancy}</span>
                            </h6>    
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in...</p>
                            <p class="card-text"><small class="text-muted">Form Deadline : #{company.formdeadline} </small></p>
                            <a href="/companyeditdetail/#{company._id}" class="btn btn-common my-2 my-sm-0 mr-2" >
                            |   Update Details
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>