extends base2.pug
block specialStyle
  style 
    include ../public/specialstyle.css
block content 
    <div class="container">
      <h4 class="text-white h5 mt-2">Online Job Application Form</h4>
      <div style="width:25%;text-align:left;margin-left:0;border: 1px solid #F3FE39;">
      </div>
    </div>

    <div class="container border border-white my-4 w-75 bg-white rounded-3 sec1 mt-5 p-4">
      <h2 class="text-common text-center mt-4">Company Details</h2>
      <div class="line mb-5 mt-3">
      </div>
      <form class="" action="/companyupdate" method="post" >
        <input type="hidden" id="" name="compid" value="#{record._id}">
        <div class="form-group d-flex align-items-center justify-content-lg-start mt-2">
          <label for="inputAddress" class="text-black h5 w-25" >Company Name </label>
          <input type="text" class="form-control w-50 text-black border-common rounded" id="inputName45" placeholder="Enter your name" name="compname" value="#{record.companyname}">
        </div>

        if record.companytype==0
          <div class="form-group d-flex align-items-center my-4">
              <label for="exampleFormControlSelect1" class="text-black h5 w-25">Company Type</label>
              <select class="form-control w-25 text-black border-common rounded" id="exampleFormControlSelect15" name="comptype">
                  <option selected value="0">Government</option>
                  <option value="1">Private</option>
              </select>
          </div>

        else if record.companytype==1
          <div class="form-group d-flex align-items-center my-4">
              <label for="exampleFormControlSelect1" class="text-black h5 w-25">Company Type</label>
              <select class="form-control w-25 text-black border-common rounded" id="exampleFormControlSelect15" name="comptype">
                  <option value="0">Government</option>
                  <option selected value="1">Private</option>
              </select>
          </div>
        <div class="form-group d-flex align-items-center my-4">
          <label for="inputAddress" class="text-black h5 w-25">Address</label>
          <textarea class="form-control w-50 text-black border-common rounded" id="exampleFormControlTextarea45" rows="2" placeholder="Write Address here..." name="compaddress">#{record.address}</textarea>
        </div>
        <div class="form-group  d-flex align-items-center justify-content-lg-start">
            <label for="inputEmail4" class="text-black h5 w-25 ">Company Email</label>
            <input type="email" class="form-control w-25 text-black border-common rounded" id="inputEmail45" placeholder="Enter email e.g., abc@xyz.pqr" name="compemail" value="#{record.companyemail}">
        </div>
        <div class="form-group d-flex align-items-center justify-content-lg-start">
            <label for="inputPassword4" class="text-black h5 w-25">Telephone No.</label>
            <input type="phone" class="form-control w-25 text-black border-common rounded" id="inputPassword45" placeholder="Enter your phone no e.g., 1234567890" name="comptelephone" value="#{record.telephone}">
        </div>

        <div class="form-group d-flex align-items-center justify-content-lg-start mt-2">
            <label for="inputAddress" class="text-black h5 w-25">Departments</label>
            <div class="wrapper w-50 p-2">
                <div class="tag-container w-100 h-100 form-control">
                  <div class="input-container d-flex align-items-center justify-content-center">
                    <input type="text" name="" id="" class="input-box h-50">
                    <button type="button" class="btn btn-common h-25 add-tag">Add Tag</button>
                  </div>
                  <select multiple class="form-control w-100 h-100 option-tag1" name="compdepartment">
                    each value in record.departments 
                      <option value="#{value}" selected>#{value}</option>
                  </select>
                </div>
            </div>
        </div>            

      <h2 class="text-common text-center mt-5">Requirements</h2>
      <div class="line mb-5 mt-3">
      </div>
      <div class="form-group d-flex align-items-center justify-content-lg-start mt-2">
        <label for="inputAddress" class="text-black h5 w-25">Post Available</label>
        <input type="text" class="form-control w-50 text-black border-common rounded" id="inputName" name="comppost" value="#{record.post}">
      </div>
      
      <div class="form-group d-flex align-items-center justify-content-lg-start mt-2">
        <label for="inputAddress" class="text-black h5 w-25">Skill Required</label>
        <div class="wrapper w-50 p-2">
            <div class="tag-container w-100 h-100 form-control">
              <div class="input-container d-flex align-items-center justify-content-center">
                <input type="text" name="" id="" class="input-box h-50">
                <button type="button" class="btn btn-common h-25 add-tag">Add Tag</button>
              </div>
              <select multiple class="form-control w-100 h-100 option-tag2" name="compskillreq">
                each val in record.skillreq 
                  <option value="#{val}" selected>#{val}</option>
              </select>
            </div>
        </div>
      </div>
    
      <div class="form-group d-flex align-items-center justify-content-lg-start mt-2">
        <label for="inputAddress" class="text-black h5 w-25">Vacancy</label>
        <input type="text" class="form-control w-50 text-black border-common rounded" id="inputName" placeholder="" name="compvacancy" value="#{record.vacancy}">
      </div>
      <div class="form-group d-flex align-items-center justify-content-lg-start mt-2">
        <label for="inputAddress" class="text-black h5 w-25">Experience</label>
        <input type="text" class="form-control w-50 text-black border-common rounded" id="inputName" placeholder="Year wise Experience" name="compexperience" value="#{record.experience}">
      </div>

      <div class="form-group d-flex align-items-center justify-content-lg-start mt-2">
        <label for="inputAddress" class="text-black h5 w-25">Qualification  :</label>
        <div class="wrapper w-50 p-2">
            <div class="tag-container w-100 h-100 form-control">
              <div class="input-container d-flex align-items-center justify-content-center">
                <input type="text" name="" id="" class="input-box h-50">
                <button type="button" class="btn btn-common h-25 add-tag">Add Tag</button>
              </div>
              <select multiple  class="form-control w-100 h-100 option-tag3" name="compqualireq">
                each val in record.qualifications 
                  <option value="#{val}" selected>#{val}</option>
              </select>
            </div>
        </div>
    </div>


      <h2 class="text-common text-center mt-5">Upload-Document / Others</h2>
      <div  class="line mb-5 mt-3">
      </div>

      <div class="form-group d-flex align-items-center justify-content-lg-start mt-2">
        <label for="inputAddress" class="text-black h5 w-25">Form Deadline </label>
        <label for="inputAddress" class="text-black h5 w-25">#{date} </label>
        <input type="date" class="form-control w-25 dateInput" id="inputName" name="compdeadline" placeholder=#{date} value="" required>
      </div>

      <div class="form-group form-check mt-5">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
        <label class="form-check-label text-common" for="exampleCheck1">I hereby declare that all information that I've given above is correct</label>
      </div>

      <div class="row mt-5 mb-5">
        <button type="submit" class="btn btn-outline-dark w-25 m-auto">Update</button>
        <button type="reset" class="btn btn-outline-dark w-25 m-auto">Reset</button>
      </div>
      </form>
    </div>
    </div>
